.link-one {
  min-width: 76px;
  white-space: nowrap;
}
.link-one,
.link-three,
.link-two {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.link-two {
  min-width: 66px;
  white-space: nowrap;
}
.link-three {
  min-width: 61px;
}
.chevron-down-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.nav-link-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column,
.column1 {
  display: flex;
  align-items: flex-start;
}
.column1 {
  width: 295px;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.column {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.logo-icon {
  height: 45px;
  width: 122.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 41px;
}
.styleprimary-smalltrue-dar {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--color-yellowgreen);
  width: 81px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.styleprimary-smallfalse-da:hover,
.styleprimary-smalltrue-dar:hover {
  background-color: var(--color-forestgreen-100);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.column2,
.container,
.navbar-3 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.column2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.container,
.navbar-3 {
  align-self: stretch;
  align-items: center;
}
.container {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.navbar-3 {
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-sm-5) var(--padding-45xl) var(--padding-xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-steelblue);
  font-family: var(--text-small-link);
}
.placeholder-image-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.medium-length-hero {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 100%;
}
.button1,
.lorem-ipsum-dolor {
  position: relative;
  line-height: 150%;
}
.lorem-ipsum-dolor {
  align-self: stretch;
}
.button1 {
  font-size: var(--text-regular-semi-bold-size);
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 35px;
}
.styleprimary-smallfalse-da {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-yellowgreen);
  width: 83px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button2 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 81px;
}
.stylesecondary-smallfalse {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.stylesecondary-smallfalse1:hover,
.stylesecondary-smallfalse2:hover,
.stylesecondary-smallfalse3:hover,
.stylesecondary-smallfalse:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.actions,
.column4,
.content,
.header-9 {
  display: flex;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
}
.column4,
.content,
.header-9 {
  max-width: 100%;
}
.column4 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
  min-width: 400px;
  font-size: var(--text-medium-normal-size);
}
.content,
.header-9 {
  align-self: stretch;
}
.content {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.header-9 {
  background-color: var(--background-color-primary);
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: var(--heading-desktop-h1-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.subheading {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 73px;
}
.heading,
.text {
  align-self: stretch;
  position: relative;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content1,
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-29xl);
}
.section-title {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.subheading1 {
  line-height: 150%;
  font-weight: 600;
}
.heading1,
.subheading1,
.text-duis-cursus {
  align-self: stretch;
  position: relative;
}
.heading1 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text-duis-cursus {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content-top,
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h3-size);
}
.content-top {
  gap: var(--gap-5xs);
}
.button3 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.stylesecondary-smallfalse1 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  width: 88px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 81px;
  white-space: nowrap;
}
.icon-chevron-right {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.actions1,
.stylelink-smallfalse-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-316xl) 0 0;
  gap: var(--gap-5xl);
  color: var(--color-steelblue);
}
.content2 {
  flex: 0.8537;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 204px var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 426px;
  max-width: 100%;
}
.placeholder-image-icon1 {
  align-self: stretch;
  height: 640px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 426px;
  max-width: 100%;
}
.card,
.placeholder-image-icon2 {
  align-self: stretch;
  max-width: 100%;
}
.card {
  background-color: var(--background-color-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.placeholder-image-icon2 {
  height: 640px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 426px;
  max-width: 100%;
}
.subheading2 {
  line-height: 150%;
  font-weight: 600;
}
.heading2,
.subheading2,
.text-duis-cursus1 {
  align-self: stretch;
  position: relative;
}
.heading2 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text-duis-cursus1 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content-top1,
.content5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content5 {
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h3-size);
}
.content-top1 {
  gap: var(--gap-5xs);
}
.button5 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.stylesecondary-smallfalse2 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  width: 88px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button6 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 81px;
  white-space: nowrap;
}
.icon-chevron-right1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.actions2,
.stylelink-smallfalse-dark1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-316xl) 0 0;
  gap: var(--gap-5xl);
  color: var(--color-steelblue);
}
.card1,
.content4 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content4 {
  flex: 0.8537;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-197xl) var(--padding-29xl);
  gap: var(--gap-13xl);
  min-width: 426px;
}
.card1 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  border: 1px solid var(--link-primary);
  flex-direction: row;
  justify-content: flex-start;
  row-gap: 20px;
}
.subheading3 {
  line-height: 150%;
  font-weight: 600;
}
.heading3,
.subheading3,
.text-duis-cursus2 {
  align-self: stretch;
  position: relative;
}
.heading3 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text-duis-cursus2 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content-top2,
.content7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content7 {
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h3-size);
}
.content-top2 {
  gap: var(--gap-5xs);
}
.button7 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.stylesecondary-smallfalse3 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  width: 88px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button8 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 81px;
  white-space: nowrap;
}
.icon-chevron-right2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.actions3,
.stylelink-smallfalse-dark2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions3 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-316xl) 0 0;
  gap: var(--gap-5xl);
  color: var(--color-steelblue);
}
.content6 {
  flex: 0.8537;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-197xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 426px;
  max-width: 100%;
}
.placeholder-image-icon3 {
  align-self: stretch;
  height: 640px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 426px;
  max-width: 100%;
}
.card2,
.container1,
.layout-408 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.card2 {
  background-color: var(--background-color-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 20px;
}
.container1,
.layout-408 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
  text-align: left;
}
.layout-408 {
  background-color: var(--background-color-primary);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.heading4,
.text1 {
  align-self: stretch;
  position: relative;
}
.heading4 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.text1 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content8,
.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.row {
  width: 768px;
  gap: var(--gap-5xl);
}
.content8 {
  flex: 1;
}
.button9 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 40px;
}
.styleprimary-smallfalse-da1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-yellowgreen);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.styleprimary-smallfalse-da1:hover {
  background-color: var(--color-forestgreen-100);
}
.button10 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 81px;
}
.stylesecondary-smallfalse4 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.stylesecondary-smallfalse4:hover,
.stylesecondary-smallfalse5:hover,
.stylesecondary-smallfalse6:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.actions4,
.container2,
.cta-7 {
  display: flex;
  justify-content: flex-start;
}
.actions4 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-base);
}
.container2,
.cta-7 {
  align-self: stretch;
  max-width: 100%;
}
.container2 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-61xl);
}
.cta-7 {
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-desktop-h3-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.faqs,
.text2 {
  align-self: stretch;
  position: relative;
}
.faqs {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text2 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.section-title1 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.question {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.plus-icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.accordion-item {
  width: 1312px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-4xl);
}
.question1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.plus-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.accordion-item1 {
  width: 1312px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-4xl);
}
.question2 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.plus-icon2 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.accordion-item2 {
  width: 1312px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-4xl);
}
.question3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.plus-icon3 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.accordion-item3 {
  width: 1312px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-4xl);
}
.question4 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.plus-icon4 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.accordion-item4 {
  width: 1312px;
  border-radius: var(--br-base);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-4xl);
}
.accordion {
  width: 1312px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--text-medium-normal-size);
}
.still-have-a,
.text3 {
  align-self: stretch;
  position: relative;
}
.still-have-a {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text3 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  flex-shrink: 0;
}
.button11 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.stylesecondary-smallfalse5 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  height: 50px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content9,
.faq-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content9 {
  width: 560px;
  gap: var(--gap-5xl);
  font-size: var(--font-size-13xl);
}
.faq-5 {
  background-color: var(--background-color-primary);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.subheading4 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
}
.heading5,
.text4 {
  align-self: stretch;
  position: relative;
}
.heading5 {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text4 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content11,
.section-title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content11 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-29xl);
}
.section-title2 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.icon-envelope {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading6 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text5 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content13,
.link,
.text5 {
  align-self: stretch;
}
.content13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.link {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  text-decoration: underline;
  line-height: 150%;
  white-space: nowrap;
}
.contact-info,
.content12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-info {
  align-self: stretch;
}
.content12 {
  flex: 1;
  min-width: 304px;
  max-width: 100%;
}
.icon-phone {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading7,
.text6 {
  align-self: stretch;
  position: relative;
}
.heading7 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text6 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.link1 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  text-decoration: underline;
  line-height: 150%;
}
.contact-info1,
.content14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-info1 {
  align-self: stretch;
}
.content14 {
  flex: 1;
  min-width: 304px;
  max-width: 100%;
}
.icon-map {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading8,
.text7 {
  align-self: stretch;
  position: relative;
}
.heading8 {
  margin: 0;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
}
.text7 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
}
.content17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.link2 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  text-decoration: underline;
  line-height: 150%;
}
.contact-info2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-20,
.content16,
.row1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.content16 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 304px;
}
.contact-20,
.row1 {
  align-self: stretch;
}
.row1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 48px;
  font-size: var(--font-size-13xl);
}
.contact-20 {
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.logo-icon1 {
  width: 106px;
  height: 39.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.join-our-newsletter {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.placeholder {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--text-small-link);
  font-size: var(--text-regular-semi-bold-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-neutral-neutral);
  text-align: left;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
  padding: 0;
}
.typedefault {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--background-color-primary);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  max-width: calc(100% - 137px);
}
.button12 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.stylesecondary-smallfalse6 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  height: 50px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form {
  align-self: stretch;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.by-subscribing-you {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions5,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions5 {
  align-self: stretch;
  gap: var(--gap-base);
  flex-shrink: 0;
  font-size: var(--text-tiny-normal-size);
}
.newsletter {
  width: 500px;
  gap: var(--gap-5xl);
  min-width: 500px;
}
.column-one,
.link-one1 {
  position: relative;
  line-height: 150%;
}
.column-one {
  align-self: stretch;
  font-weight: 600;
}
.link-one1 {
  flex: 1;
}
.link3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-two1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-three1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-four {
  width: 231.3px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.link6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-5xs) 0;
}
.link-five {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column5,
.footer-links,
.link7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link7 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column5,
.footer-links {
  flex-direction: column;
}
.footer-links {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue);
}
.column5 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.column-two,
.link-six {
  position: relative;
  line-height: 150%;
}
.column-two {
  align-self: stretch;
  font-weight: 600;
}
.link-six {
  flex: 1;
}
.link8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-seven {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-eight {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-nine {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-ten {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column6,
.footer-links1,
.link12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link12 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column6,
.footer-links1 {
  flex-direction: column;
}
.footer-links1 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue);
}
.column6 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.follow-us {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 61px;
}
.link13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 104.3px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-instagram {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 64px;
}
.link14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 101.3px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-x,
.x {
  position: relative;
}
.icon-x {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.x {
  line-height: 150%;
  display: inline-block;
  min-width: 44px;
}
.link15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 121.3px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-linkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 53px;
}
.link16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 112.3px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-youtube {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.youtube {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 55px;
}
.link17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 110.3px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.social-links {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--text-small-link-size);
}
.column7,
.links,
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column7 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 151px;
}
.links {
  width: 684px;
  flex-direction: row;
  gap: var(--gap-21xl);
  min-width: 684px;
  max-width: 100%;
}
.content18,
.divider {
  align-self: stretch;
  box-sizing: border-box;
}
.content18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider {
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
}
.relume-all-rights {
  position: relative;
  line-height: 150%;
}
.privacy-policy {
  display: inline-block;
  min-width: 87px;
}
.cookies-settings,
.privacy-policy,
.terms-of-service {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings {
  display: inline-block;
  min-width: 84px;
}
.footer-links2,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.row2 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.credits,
.footer-1,
.home-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-link-size);
}
.footer-1,
.home-desktop {
  overflow: hidden;
}
.footer-1 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.home-desktop {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .column1 {
    display: none;
  }
  .content {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .content2,
  .image {
    flex: 1;
  }
  .card {
    flex-wrap: wrap;
  }
  .content4,
  .image1 {
    flex: 1;
  }
  .card1 {
    flex-wrap: wrap;
  }
  .content6,
  .image2 {
    flex: 1;
  }
  .card2 {
    flex-wrap: wrap;
  }
  .layout-408 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .newsletter {
    flex: 1;
  }
  .links {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .content18 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .content8 {
    min-width: 100%;
  }
  .faq-5 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    gap: var(--gap-base);
  }
  .navbar-3 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .medium-length-hero {
    font-size: 45px;
    line-height: 54px;
  }
  .column3,
  .column4 {
    min-width: 100%;
  }
  .content {
    gap: var(--gap-xl);
  }
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .heading1 {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .actions1,
  .content2 {
    box-sizing: border-box;
  }
  .actions1 {
    flex-wrap: wrap;
    padding-right: var(--padding-148xl);
  }
  .content2 {
    gap: var(--gap-base);
    padding: 133px var(--padding-5xl);
  }
  .content2,
  .image,
  .image1 {
    min-width: 100%;
  }
  .heading2 {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .actions2,
  .content4 {
    box-sizing: border-box;
  }
  .actions2 {
    flex-wrap: wrap;
    padding-right: var(--padding-148xl);
  }
  .content4 {
    gap: var(--gap-base);
    padding: var(--padding-121xl) var(--padding-5xl);
    min-width: 100%;
  }
  .heading3 {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .actions3,
  .content6 {
    box-sizing: border-box;
  }
  .actions3 {
    flex-wrap: wrap;
    padding-right: var(--padding-148xl);
  }
  .content6 {
    gap: var(--gap-base);
    padding: var(--padding-121xl) var(--padding-5xl);
  }
  .content6,
  .image2 {
    min-width: 100%;
  }
  .container1 {
    gap: var(--gap-13xl);
  }
  .layout-408 {
    gap: var(--gap-21xl);
    padding: var(--padding-12xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading4 {
    font-size: var(--font-size-13xl);
    line-height: 38px;
  }
  .container2,
  .cta-7 {
    gap: var(--gap-21xl);
  }
  .cta-7 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .faqs {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .still-have-a {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .faq-5 {
    gap: var(--gap-21xl);
    padding: var(--padding-28xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading5 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .heading6,
  .heading7,
  .heading8 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
  }
  .row1 {
    gap: var(--gap-5xl);
  }
  .contact-20 {
    gap: var(--gap-21xl);
    padding: var(--padding-54xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .newsletter {
    min-width: 100%;
  }
  .links {
    gap: var(--gap-xl);
  }
  .links,
  .row2 {
    flex-wrap: wrap;
  }
  .credits {
    gap: var(--gap-base);
  }
  .footer-1 {
    gap: var(--gap-21xl);
    padding: var(--padding-33xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .medium-length-hero {
    font-size: 34px;
    line-height: 40px;
  }
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .heading1 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .actions1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading2 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .actions2 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading3 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .actions3 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .container1 {
    gap: var(--gap-base);
  }
  .layout-408 {
    gap: var(--gap-xl);
  }
  .heading4 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .container2,
  .cta-7 {
    gap: var(--gap-xl);
  }
  .faqs {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .still-have-a {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .faq-5 {
    gap: var(--gap-xl);
  }
  .heading5 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .heading6,
  .heading7,
  .heading8 {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .contact-20 {
    gap: var(--gap-xl);
  }
  .footer-links2 {
    flex-wrap: wrap;
  }
  .footer-1 {
    gap: var(--gap-xl);
  }
}
