.link-one {
  text-decoration: none;
  color: inherit;
  min-width: 76px;
  white-space: nowrap;
}
.link-one,
.link-three,
.link-two {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.link-two {
  text-decoration: none;
  color: inherit;
  min-width: 66px;
  white-space: nowrap;
}
.link-three {
  min-width: 61px;
}
.chevron-down-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.nav-link-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column,
.column1 {
  display: flex;
  align-items: flex-start;
}
.column1 {
  width: 295px;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.column {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.logo-icon {
  height: 45px;
  width: 122.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 41px;
}
.styleprimary-smalltrue-dar {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--color-yellowgreen);
  width: 81px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.styleprimary-smalltrue-dar:hover {
  background-color: var(--color-forestgreen-100);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.column2,
.container,
.navbar-3 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.column2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.container,
.navbar-3 {
  align-self: stretch;
  align-items: center;
}
.container {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.navbar-3 {
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-sm-5) var(--padding-45xl) var(--padding-xs);
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-steelblue);
  font-family: var(--text-small-link);
}
.subheading {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 89px;
}
.heading,
.text {
  align-self: stretch;
  position: relative;
}
.heading {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content,
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-29xl);
}
.section-title {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.heading1,
.placeholder-image-icon {
  align-self: stretch;
  position: relative;
}
.placeholder-image-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading1 {
  margin: 0;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.tag-one {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.tag {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag1:hover,
.tag2:hover,
.tag3:hover,
.tag4:hover,
.tag5:hover,
.tag:hover {
  background-color: var(--color-lightgray);
}
.tag-two {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 33px;
}
.tag1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-three {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.tag2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: var(--color-neutral-neutral-lightest);
  flex-direction: row;
}
.content3,
.tag2,
.tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-404xl) 0 0;
  gap: var(--gap-5xs);
}
.content3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 400px;
  max-width: 100%;
}
.text1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 100%;
  font-size: var(--text-regular-semi-bold-size);
}
.content2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-61xl);
}
.card,
.content2,
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.row {
  align-self: stretch;
  flex-direction: row;
}
.heading2,
.placeholder-image-icon1 {
  align-self: stretch;
  position: relative;
}
.placeholder-image-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading2 {
  margin: 0;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.tag-one1 {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.tag3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-two1 {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 33px;
}
.tag4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-three1 {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.tag5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: var(--color-neutral-neutral-lightest);
  flex-direction: row;
}
.content5,
.tag5,
.tags1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-404xl) 0 0;
  gap: var(--gap-5xs);
}
.content5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 400px;
  max-width: 100%;
}
.text2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.column4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 100%;
  font-size: var(--text-regular-semi-bold-size);
}
.content4 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-61xl);
}
.card1,
.content4,
.portfolio-list,
.row1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.portfolio-list,
.row1 {
  align-self: stretch;
  flex-direction: row;
}
.portfolio-list {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-61xl);
  flex-shrink: 0;
}
.button1 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.stylesecondary-smallfalse {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  height: 50px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.stylesecondary-smallfalse:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.content1,
.portfolio-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.portfolio-2 {
  background-color: var(--background-color-primary);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.tagline {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 50px;
}
.tagline-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.heading3,
.text3 {
  align-self: stretch;
  position: relative;
}
.heading3 {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text3 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content6,
.section-title1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content6 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-29xl);
}
.section-title1 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.typedefault {
  border: 1px solid var(--link-primary);
  outline: 0;
  background-color: var(--background-color-primary);
  height: 48px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  min-width: 250px;
}
.email,
.input,
.typedefault {
  align-self: stretch;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.email {
  position: relative;
  line-height: 150%;
}
.input1,
.typedefault1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.typedefault1 {
  border: 1px solid var(--link-primary);
  outline: 0;
  background-color: var(--background-color-primary);
  height: 48px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  min-width: 250px;
}
.input1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.message {
  flex-shrink: 0;
}
.message,
.type-your-message {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.text-area-child,
.text-area-item {
  width: 2px;
  height: 2px;
  position: absolute;
  margin: 0 !important;
  right: 2px;
  bottom: 1.8px;
  object-fit: contain;
}
.text-area-item {
  width: 6px;
  height: 6px;
  bottom: 2px;
  z-index: 1;
}
.input2,
.text-area {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-area {
  border-radius: var(--br-base);
  background-color: var(--background-color-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  padding: var(--padding-xs) var(--padding-2xs) 144px;
  position: relative;
  min-height: 182px;
  flex-shrink: 0;
  color: var(--color-neutral-neutral);
}
.input2 {
  gap: var(--gap-5xs);
}
.frame-input {
  margin: 0;
  height: 19.5px;
  width: 18px;
}
.label {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 124px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.selectedfalse,
.selectedfalse-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.selectedfalse {
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-5xs);
}
.selectedfalse-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--text-small-link-size);
}
.button2 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.styleprimary-smallfalse-da {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 31.5px;
  background-color: var(--color-yellowgreen);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smallfalse-da:hover {
  background-color: var(--color-forestgreen-100);
}
.styleprimary-smallfalse-da-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.form {
  width: 560px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-1,
.form,
.form-wrapper {
  display: flex;
  max-width: 100%;
}
.form-wrapper {
  width: 768px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.contact-1 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.logo-icon1 {
  width: 106px;
  height: 39.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.join-our-newsletter {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.placeholder {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--text-small-link);
  font-size: var(--text-regular-semi-bold-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-neutral-neutral);
  text-align: left;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
  padding: 0;
}
.typedefault2 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--background-color-primary);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  max-width: calc(100% - 137px);
}
.button3 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.stylesecondary-smallfalse1 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  height: 50px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.stylesecondary-smallfalse1:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.form1 {
  align-self: stretch;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.by-subscribing-you {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions {
  align-self: stretch;
  gap: var(--gap-base);
  flex-shrink: 0;
  font-size: var(--text-tiny-normal-size);
}
.newsletter {
  width: 500px;
  gap: var(--gap-5xl);
  min-width: 500px;
}
.column-one,
.link-one1 {
  position: relative;
  line-height: 150%;
}
.column-one {
  align-self: stretch;
  font-weight: 600;
}
.link-one1 {
  flex: 1;
}
.link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-two1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-three1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-four {
  width: 231.3px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.link3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-5xs) 0;
}
.link-five {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column5,
.footer-links,
.link4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link4 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column5,
.footer-links {
  flex-direction: column;
}
.footer-links {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue);
}
.column5 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.column-two,
.link-six {
  position: relative;
  line-height: 150%;
}
.column-two {
  align-self: stretch;
  font-weight: 600;
}
.link-six {
  flex: 1;
}
.link5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-seven {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-eight {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-nine {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-ten {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column6,
.footer-links1,
.link9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link9 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column6,
.footer-links1 {
  flex-direction: column;
}
.footer-links1 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue);
}
.column6 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.follow-us {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 61px;
}
.link10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 105px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-instagram {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 64px;
}
.link11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 102px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-x,
.x {
  position: relative;
}
.icon-x {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.x {
  line-height: 150%;
  display: inline-block;
  min-width: 44px;
}
.link12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 122px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-linkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 53px;
}
.link13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 113px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-youtube {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.youtube {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 55px;
}
.link14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 111px var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.social-links {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--text-small-link-size);
}
.column7,
.links,
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column7 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 151px;
}
.links {
  width: 684px;
  flex-direction: row;
  gap: var(--gap-21xl);
  min-width: 684px;
  max-width: 100%;
}
.content7,
.divider {
  align-self: stretch;
  box-sizing: border-box;
}
.content7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider {
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
}
.relume-all-rights {
  position: relative;
  line-height: 150%;
}
.privacy-policy {
  display: inline-block;
  min-width: 87px;
}
.cookies-settings,
.privacy-policy,
.terms-of-service {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings {
  display: inline-block;
  min-width: 84px;
}
.footer-links2,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.row2 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.booking-page-desktop,
.credits,
.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-link-size);
}
.booking-page-desktop,
.footer-1 {
  overflow: hidden;
}
.footer-1 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.booking-page-desktop {
  width: 100%;
  position: relative;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1325px) {
  .column1 {
    display: none;
  }
  .portfolio-2 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links,
  .newsletter {
    flex: 1;
  }
  .content7 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .contact-1,
  .portfolio-2 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .contact-1 {
    gap: var(--gap-21xl);
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
  }
  .links {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    gap: var(--gap-base);
  }
  .navbar-3 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .tags {
    flex-wrap: wrap;
    padding-right: var(--padding-192xl);
    box-sizing: border-box;
  }
  .column3,
  .content3 {
    min-width: 100%;
  }
  .content2 {
    gap: var(--gap-21xl);
  }
  .row {
    gap: var(--gap-5xl);
  }
  .tags1 {
    flex-wrap: wrap;
    padding-right: var(--padding-192xl);
    box-sizing: border-box;
  }
  .column4,
  .content5 {
    min-width: 100%;
  }
  .content4 {
    gap: var(--gap-21xl);
  }
  .row1 {
    gap: var(--gap-5xl);
  }
  .portfolio-list {
    gap: var(--gap-21xl);
  }
  .content1 {
    gap: var(--gap-13xl);
  }
  .portfolio-2 {
    gap: var(--gap-21xl);
    padding: var(--padding-12xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading3 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .contact-1 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .newsletter {
    min-width: 100%;
  }
  .links {
    gap: var(--gap-xl);
  }
  .links,
  .row2 {
    flex-wrap: wrap;
  }
  .credits {
    gap: var(--gap-base);
  }
  .footer-1 {
    gap: var(--gap-21xl);
    padding: var(--padding-33xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .heading1 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .tags {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content2 {
    gap: var(--gap-xl);
  }
  .heading2 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .tags1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content4,
  .portfolio-list {
    gap: var(--gap-xl);
  }
  .content1 {
    gap: var(--gap-base);
  }
  .portfolio-2 {
    gap: var(--gap-xl);
  }
  .heading3 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .contact-1 {
    gap: var(--gap-xl);
  }
  .footer-links2 {
    flex-wrap: wrap;
  }
  .footer-1 {
    gap: var(--gap-xl);
  }
}
