.link-one2 {
  text-decoration: none;
  color: inherit;
  min-width: 76px;
  white-space: nowrap;
}
.link-one2,
.link-three2,
.link-two2 {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.link-two2 {
  text-decoration: none;
  color: inherit;
  min-width: 66px;
  white-space: nowrap;
}
.link-three2 {
  min-width: 61px;
}
.chevron-down-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.nav-link-dropdown1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column8,
.column9 {
  display: flex;
  align-items: flex-start;
}
.column9 {
  width: 295px;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.column8 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.logo-icon2 {
  height: 45px;
  width: 122.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button13 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 41px;
}
.styleprimary-smalltrue-dar1 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--color-yellowgreen);
  width: 81px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.styleprimary-smalltrue-dar1:hover {
  background-color: var(--color-forestgreen-100);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.column10,
.container3,
.navbar-31 {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.column10 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.container3,
.navbar-31 {
  align-self: stretch;
  align-items: center;
}
.container3 {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.navbar-31 {
  background-color: var(--background-color-primary);
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-sm-5) var(--padding-45xl) var(--padding-xs);
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-steelblue);
  font-family: var(--text-small-link);
}
.subheading5 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 89px;
}
.heading9,
.text8 {
  align-self: stretch;
  position: relative;
}
.heading9 {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text8 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content19,
.section-title3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content19 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-29xl);
}
.section-title3 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.placeholder-image-icon4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading10 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.tag-one {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.tag {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag1:hover,
.tag2:hover,
.tag3:hover,
.tag4:hover,
.tag5:hover,
.tag:hover {
  background-color: var(--color-lightgray);
}
.tag-two {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 33px;
}
.tag1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-three {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.tag2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: var(--color-neutral-neutral-lightest);
  flex-direction: row;
}
.content22,
.tag2,
.tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-404xl) 0 0;
  gap: var(--gap-5xs);
}
.content22 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 400px;
  max-width: 100%;
}
.text9 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.column11 {
  flex: 1;
  flex-direction: column;
  min-width: 400px;
  font-size: var(--text-regular-semi-bold-size);
}
.card3,
.column11,
.content21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.content21 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-61xl);
}
.card3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.placeholder-image-icon5,
.row3 {
  align-self: stretch;
  max-width: 100%;
}
.row3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.placeholder-image-icon5 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading11 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: inherit;
}
.tag-one1 {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 27px;
}
.tag3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-two1 {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 33px;
}
.tag4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-neutral-neutral-lightest);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tag-three1 {
  position: relative;
  font-size: var(--text-small-link-size);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 70px;
}
.tag5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-6xs);
  background-color: var(--color-neutral-neutral-lightest);
  flex-direction: row;
}
.content24,
.tag5,
.tags1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.tags1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-404xl) 0 0;
  gap: var(--gap-5xs);
}
.content24 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 400px;
  max-width: 100%;
}
.text10 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.column12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 100%;
  font-size: var(--text-regular-semi-bold-size);
}
.content23 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-61xl);
}
.card4,
.content23,
.portfolio-list,
.row4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.portfolio-list,
.row4 {
  align-self: stretch;
  flex-direction: row;
}
.portfolio-list {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-61xl);
  flex-shrink: 0;
}
.button14 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.stylesecondary-smallfalse7 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  height: 50px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.stylesecondary-smallfalse7:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.content20,
.portfolio-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.portfolio-2 {
  background-color: var(--background-color-primary);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.tagline {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 50px;
}
.tagline-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.heading12,
.text11 {
  align-self: stretch;
  position: relative;
}
.heading12 {
  margin: 0;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
}
.text11 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
}
.content25,
.section-title4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content25 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-29xl);
}
.section-title4 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.typedefault1 {
  border: 1px solid var(--link-primary);
  outline: 0;
  background-color: var(--background-color-primary);
  height: 48px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs);
  min-width: 250px;
}
.email,
.input,
.typedefault1 {
  align-self: stretch;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.email {
  position: relative;
  line-height: 150%;
}
.input1,
.typedefault2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.typedefault2 {
  border: 1px solid var(--link-primary);
  outline: 0;
  background-color: var(--background-color-primary);
  height: 48px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
  min-width: 250px;
}
.input1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.message {
  flex-shrink: 0;
}
.message,
.type-your-message {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.text-area-child,
.text-area-item {
  width: 2px;
  height: 2px;
  position: absolute;
  margin: 0 !important;
  right: 2px;
  bottom: 1.8px;
  object-fit: contain;
}
.text-area-item {
  width: 6px;
  height: 6px;
  bottom: 2px;
  z-index: 1;
}
.input2,
.text-area {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-area {
  border-radius: var(--br-base);
  background-color: var(--background-color-primary);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  padding: var(--padding-xs) var(--padding-2xs) 144px;
  position: relative;
  min-height: 182px;
  flex-shrink: 0;
  color: var(--color-neutral-neutral);
}
.input2 {
  gap: var(--gap-5xs);
}
.frame-input {
  margin: 0;
  height: 19.5px;
  width: 18px;
}
.label {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 124px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.selectedfalse,
.selectedfalse-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.selectedfalse {
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-5xs);
}
.selectedfalse-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--text-small-link-size);
}
.button15 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--background-color-primary);
  text-align: left;
  display: inline-block;
  min-width: 36px;
}
.styleprimary-smallfalse-da2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 31.5px;
  background-color: var(--color-yellowgreen);
  border-radius: var(--br-base);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.styleprimary-smallfalse-da2:hover {
  background-color: var(--color-forestgreen-100);
}
.styleprimary-smallfalse-da-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.form1 {
  width: 560px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.contact-1,
.form-wrapper,
.form1 {
  display: flex;
  max-width: 100%;
}
.form-wrapper {
  width: 768px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}
.contact-1 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.logo-icon3 {
  width: 106px;
  height: 39.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.join-our-newsletter1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.placeholder1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--text-small-link);
  font-size: var(--text-regular-semi-bold-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-neutral-neutral);
  text-align: left;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
  padding: 0;
}
.typedefault3 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--background-color-primary);
  border: 1px solid var(--color-steelblue);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  max-width: calc(100% - 137px);
}
.button16 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.stylesecondary-smallfalse8 {
  cursor: pointer;
  border: 1px solid var(--color-yellowgreen);
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: transparent;
  height: 50px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.stylesecondary-smallfalse8:hover {
  background-color: var(--color-forestgreen-200);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.form2 {
  align-self: stretch;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.by-subscribing-you1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions6,
.newsletter1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions6 {
  align-self: stretch;
  gap: var(--gap-base);
  flex-shrink: 0;
  font-size: var(--text-tiny-normal-size);
}
.newsletter1 {
  width: 500px;
  gap: var(--gap-5xl);
  min-width: 500px;
}
.column-one1,
.link-one3 {
  position: relative;
  line-height: 150%;
}
.column-one1 {
  align-self: stretch;
  font-weight: 600;
}
.link-one3 {
  flex: 1;
}
.link18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-two3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link19 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-three3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-four1 {
  width: 231.3px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.link21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 var(--padding-5xs) 0;
}
.link-five1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column13,
.footer-links3,
.link22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link22 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column13,
.footer-links3 {
  flex-direction: column;
}
.footer-links3 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue);
}
.column13 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.column-two1,
.link-six1 {
  position: relative;
  line-height: 150%;
}
.column-two1 {
  align-self: stretch;
  font-weight: 600;
}
.link-six1 {
  flex: 1;
}
.link23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-seven1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-eight1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link25 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-nine1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link-ten1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column14,
.footer-links4,
.link27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link27 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column14,
.footer-links4 {
  flex-direction: column;
}
.footer-links4 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue);
}
.column14 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.follow-us1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 61px;
}
.link28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-86xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-instagram1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 64px;
}
.link29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-83xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-x1,
.x1 {
  position: relative;
}
.icon-x1 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.x1 {
  line-height: 150%;
  display: inline-block;
  min-width: 44px;
}
.link30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-103xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-linkedin1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 53px;
}
.link31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-94xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-youtube1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.youtube1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 55px;
}
.link32 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-92xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.social-links1 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--text-small-link-size);
}
.column15,
.links1,
.social-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column15 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 151px;
}
.links1 {
  width: 684px;
  flex-direction: row;
  gap: var(--gap-21xl);
  min-width: 684px;
  max-width: 100%;
}
.content26,
.divider1 {
  align-self: stretch;
  box-sizing: border-box;
}
.content26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider1 {
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
}
.relume-all-rights1 {
  position: relative;
  line-height: 150%;
}
.privacy-policy1 {
  display: inline-block;
  min-width: 87px;
}
.cookies-settings1,
.privacy-policy1,
.terms-of-service1 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings1 {
  display: inline-block;
  min-width: 84px;
}
.footer-links5,
.row5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.row5 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.booking-page-desktop,
.credits1,
.footer-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits1 {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-link-size);
}
.booking-page-desktop,
.footer-11 {
  overflow: hidden;
}
.footer-11 {
  align-self: stretch;
  background-color: var(--background-color-primary);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.booking-page-desktop {
  width: 100%;
  position: relative;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1325px) {
  .column9 {
    display: none;
  }
  .portfolio-2 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links1,
  .newsletter1 {
    flex: 1;
  }
  .content26 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .contact-1,
  .portfolio-2 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .contact-1 {
    gap: var(--gap-21xl);
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
  }
  .links1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .container3 {
    gap: var(--gap-base);
  }
  .navbar-31 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading9 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .tags {
    flex-wrap: wrap;
    padding-right: var(--padding-192xl);
    box-sizing: border-box;
  }
  .column11,
  .content22 {
    min-width: 100%;
  }
  .content21 {
    gap: var(--gap-21xl);
  }
  .row3 {
    gap: var(--gap-5xl);
  }
  .tags1 {
    flex-wrap: wrap;
    padding-right: var(--padding-192xl);
    box-sizing: border-box;
  }
  .column12,
  .content24 {
    min-width: 100%;
  }
  .content23 {
    gap: var(--gap-21xl);
  }
  .row4 {
    gap: var(--gap-5xl);
  }
  .portfolio-list {
    gap: var(--gap-21xl);
  }
  .content20 {
    gap: var(--gap-13xl);
  }
  .portfolio-2 {
    gap: var(--gap-21xl);
    padding: var(--padding-12xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading12 {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .contact-1 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .newsletter1 {
    min-width: 100%;
  }
  .links1 {
    gap: var(--gap-xl);
  }
  .links1,
  .row5 {
    flex-wrap: wrap;
  }
  .credits1 {
    gap: var(--gap-base);
  }
  .footer-11 {
    gap: var(--gap-21xl);
    padding: var(--padding-33xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading9 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .heading10 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .tags {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content21 {
    gap: var(--gap-xl);
  }
  .heading11 {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .tags1 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content23,
  .portfolio-list {
    gap: var(--gap-xl);
  }
  .content20 {
    gap: var(--gap-base);
  }
  .portfolio-2 {
    gap: var(--gap-xl);
  }
  .heading12 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .contact-1 {
    gap: var(--gap-xl);
  }
  .footer-links5 {
    flex-wrap: wrap;
  }
  .footer-11 {
    gap: var(--gap-xl);
  }
}
